.grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 45vh;
    gap: 5px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: 0;
}

.button{
    width: 10vw;
    margin: auto;
}

.select{
    align-self: center;
    margin-top: 11px;
}