h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contain-table{
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px #00000026;
}

.contain-table thead tr {
    background-color: #a1d8ff;
    color: #000000;
    text-align: left;
    font-weight: bold;
}

.contain-table th, .contain-table td {
    padding: 12px 15px;
}

.contain-table tbody tr {
    border-bottom: 2px solid #dddddd;
}

tr:hover {background-color: #eeeeee;}