{% extends 'layout_admin.html' %}

{% block title %}
    Campaign Stats    
{% endblock %}

{% block style %}
<link rel="stylesheet" href="static/stats.css">


{% endblock %}

{% block content %}

<div class="grid">
            <div class="chart1 inner-content">
                <canvas id="visibility_nicheChart"></canvas>
            </div>
            <div class="chart2 inner-content">
                <canvas id="campaignChart"></canvas>
            </div>
            <div class="chart3 inner-content">
                <canvas id="visibilityChart"></canvas>
            </div>
    <div class="info">
        <h1 style="text-align: center; margin-top: 15px;">Campaigns</h1>
        <table class="contain-table">
            <thead>
                <tr>
                    <th>Campaign</th>
                    <th>Sponsor</th>
                    <th></th>
                </tr>
            </thead>
            {% for sponsor,campaign in campaigns %}
            <tr>
                <td>{{campaign.campaign_name}}</td>
                <td>{{sponsor.industry}}</td>
                <form method="post">
                    <input type="hidden" name="campaign_id" value="{{campaign.campaign_id}}">
                    <td>
                        {% if campaign.flag == 'yes' %}
                        <a href="{{ url_for('view_campaign', campaign_id=campaign.campaign_id ) }} " role="button" style="background-color: #81b1fe; font-weight: bold; border-radius: 5px; text-decoration: inherit; color: inherit; border: 2px solid black;">View</a>          
                        <button type="submit" name="flag" value="no" style="background-color: #e7e71f; font-weight: bold; border-radius: 5px; ">Flaged</button>
                        {% else %}
                        <a href="{{ url_for('view_campaign', campaign_id=campaign.campaign_id ) }} " role="button" style="background-color: #91bbff; font-weight: bold; border-radius: 5px; text-decoration: inherit; color: inherit; border: 2px solid black;"> View</a>
                        <button type="submit" name="flag" value="yes" style="background-color: #e7e71f; font-weight: bold; border-radius: 5px;">Flag</button>
                        {% endif %}
                    </td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


<Script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
        // setup
        
        const data1 = {
            labels: {{labels|safe}},
            datasets: [
                {
                    label: 'Campaign by Visibility',
                    data: {{data|safe}},
                    backgroundColor: [
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(201, 203, 207, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(75, 192, 192, 0.2)'

                    
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                    ],
                    borderwidth: 1
                }
            ]
        };


        const data2 = {
            labels: {{labels2|safe}},
            datasets: [
                {
                    label: 'Campaign by Niche',
                    data: {{data2|safe}},
                    backgroundColor: [
                        'rgba(255, 205, 86, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                hoverOffset: 4
                }
            ]
        };
        const data3 = {
            labels: {{labels3|safe}},
            datasets: [
                {
                    label: 'Campaign distribution by sponsor',
                    data: {{data3|safe}},
                    backgroundColor: [
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                    ],
                    borderwidth: 1
                }
            ]
        };

        // config
        const config = {
            type: 'doughnut',
            data: data1,
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Campaign by Visibility',
                        font: {
                            size: 20
                            
                        }
                    },
                    legend: {
                        position: 'top',
                    },
                    
                }
            },
        };
        const config2 = {
            type: 'bar',
            data: data2,
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Campaign by Niche',
                        font: {
                            size: 20
                        }

                    },

                    legend: {
                        display: false,
                    },
                    
                }
            },
        };
        
        const config3 = {
            type: 'doughnut',
            data: data3,
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Campaign distribution by Sponsor',
                        font: {
                            size: 20
                        }

                    },
                    legend: {
                        position: 'top',
                    },
                    
                }
            },
        };
        // rendering
        const visibility_niche = document.getElementById('visibility_nicheChart').getContext('2d');
        const visibility_nicheChart = new Chart(visibility_niche, config);
        
        const visibility = document.getElementById('visibilityChart').getContext('2d');
        const visibilityChart = new Chart(visibility, config2);
        
        const campaign = document.getElementById('campaignChart').getContext('2d');
        const campaignChart = new Chart(campaign, config3);
</script>
{% endblock %}