{% extends 'layout_Influencer.html' %}

{% block style %}

    <link rel="stylesheet" href="static/sponsor_request.css">
{% endblock %}

{% block title %}
    Influencer Request
{% endblock %}

{% block content %}
<h1>Sponsor Request</h1>
<form method="post">
    <div class="box">

        <div class="mb-3">
        <label  class="form-label" for="id">Enter your Name</label>
        <input class="form-control" id="id">
    </div>

    <div class="mb-3">
        <label class="form-label" for="Message">Role you can Do</label>
        <input class="form-control" id="Message" name="message" type="text" required>
    </div>

    <div class="mb-3">
        <label class="form-label" for="Amount">Asking Amount</label>
        <input class="form-control" id="Amount" name="offer" type="number" required>
    </div>
        <button class="btn btn-primary" type="submit">Request</button>
    </div>


</form>
{% endblock %}