
{% extends "layout_login.html" %}

{% block style %}

<link rel="stylesheet" href="static/style.css">
{% endblock style %}

{% block title %}Influencer Login Page{% endblock title %}

{% block content %}
<h1>Influencer Login Page</h1> 
<div class="body">
    <form method="POST">
        <div class="mb-3">
            <label for="exampleInputUserName" class="form-label">User Name</label>
            <input type="text" class="form-control" id="exampleInputUserName" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="passaword">
        </div>
            <button type="submit" class="btn btn-primary">Submit</button> 
            <br><br>
            <a href="{{url_for('influencer_register')}}">First time visit open a new account here</a>
            <br>
            <div class="d-grid gap-2 col-4 mx-auto">
                <a class="btn btn-primary" href="{{url_for('influencer_register')}}" role="button" >Register</a>
            </div>
    </form>
</div>
{% endblock content %}